<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="koxre" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7UfOLKw2kk2PsJ8RJvmMcQAAAAACAAAAAAAQZgAAAAEAACAAAAAW1jSAo3LJF2kNUhlwKLWEd83n2/CpQn1PrZxWK3vxmwAAAAAOgAAAAAIAACAAAACd8iYIXG1Hxtp9hDLYOxEPfdS9x80S/iq3wt4gXSsudzAAAADrKvygGPGRj9Fh+eTkPLl7TSwj6U2ghdgbbp3FLBf4An+m4GGb4kDgCyrV9sPFhelAAAAAJN5EOEXngOCtw0KzSE6SZMC3C8/RH80MT4g4b3VEYX5eATCgZrsmM5sAjLsUxKpbTQUVaxqnjldlXA67S1PUtQ=="/>
  </appSettings>
</configuration>