<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="koxre" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7UfOLKw2kk2PsJ8RJvmMcQAAAAACAAAAAAAQZgAAAAEAACAAAAAW1jSAo3LJF2kNUhlwKLWEd83n2/CpQn1PrZxWK3vxmwAAAAAOgAAAAAIAACAAAACd8iYIXG1Hxtp9hDLYOxEPfdS9x80S/iq3wt4gXSsudzAAAADrKvygGPGRj9Fh+eTkPLl7TSwj6U2ghdgbbp3FLBf4An+m4GGb4kDgCyrV9sPFhelAAAAAJN5EOEXngOCtw0KzSE6SZMC3C8/RH80MT4g4b3VEYX5eATCgZrsmM5sAjLsUxKpbTQUVaxqnjldlXA67S1PUtQ==" />
  </appSettings>
</configuration>